@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


.topbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.topbar .left{
    margin-left: 20px;
}


.topbar .right {
    margin-right: 10px;
}


.topbar .right ul li{
    display: inline-block;
    margin-right: 20px;
}


